<style>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  
}
.card {
  display: flex;
  flex: 0 1 calc(33% - 1em);
  flex-direction: column;
  padding: 0.5rem 1.0rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 10px;
  margin: 10px 10px 10px;
}

@media (max-width: 1000px) {
  .card {
    flex: 0 1 calc(49% - 1em);
  }
}

@media (max-width: 600px) {
  .card {
    flex: 0 1 calc(100% - 1em);
  }
}

.bottomWrapper{
  margin-top: auto;
  text-align: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



</style>

<div class="flex-container">
  
    <div class="card">
      <a href="/project/design_safe"><img src="/assets/project/place-holder.png" alt="Avatar" style="width:100%"></a>
      <div class="bottomWrapper">
        <a href="/project/design_safe"><h6><b>Natural Hazards Engineering Research Infrastructure DesignSafe-CI</b></h6> </a>
      </div>
    </div>
  

    <div class="card">
      <a href="/project/preevents"><img src="/assets/project/place-holder.png" alt="Avatar" style="width:100%"></a>
        <div class="bottomWrapper">
          <a href="/project/preevents"><h6><b>A Dynamic Unified Framework for Hurricane Storm Surge Analysis and Prediction Spanning across the Coastal Floodplain and Ocean</b></h6></a>
        </div>
    </div>

    <!-- <div class="card">
      <a href="/project/redsea"><img src="/assets/project/place-holder.png" alt="Avatar" style="width:100%"></a>
        <div class="bottomWrapper">
          <a href="/project/redsea"><h6><b>Detecting, Tracking, and Forecasting of Hazardous Spills in the Red Sea</b></h6></a> 
        </div>
    </div> -->

    <!-- <div class="card">
      <a href="/project/alaska"><img src="/assets/project/place-holder.png" alt="Avatar" style="width:100%"></a>
        <div class="bottomWrapper">
          <a href="/project/alaska"><h6><b>Building Coupled Storm Surge and Wave Operational Forecasting Capacity for Western Alaska</b></h6></a> 
        </div>
    </div> -->

    <div class="card">
      <a href="/project/model_coupling"><img src="/assets/project/place-holder.png" alt="Avatar" style="width:100%"></a>
        <div class="bottomWrapper">
          <a href="/project/model_coupling"><h6><b>Coupling the National Water Model to the Coastal Ocean for Predicting Water Hazards</b></h6></a> 
        </div>
    </div>

    <div class="card">
      <a href="/project/adaptive_mesh"><img src="/assets/project/place-holder.png" alt="Avatar" style="width:100%"></a>
        <div class="bottomWrapper">
          <a href="/project/adaptive_mesh"><h6><b>Improving the Efficiency of Wave and Surge Models via Adaptive Mesh Resolution</b></h6></a> 
        </div>
    </div>
</div>
