<style>
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content:left;
    }
    .card {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1.0rem;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 30%;
      border-radius: 10px;
      margin: 10px 10px 10px;
      min-width: 300px;
    }
    
    @media (max-width: 600px) {
      .card {
        width: 80%;
      }
    }
    
    .bottomWrapper{
      margin-top: auto;
    }
    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    .blueTitle{
        color: #00c1f3;
        font-size: 25px;
        font-weight: bolder;
    }
    
    
</style>
<p class = "blueTitle">Past Events</p>
<div class="flex-container">
  
    <div class="card">
      <!-- <a href="/project/kissing_bug"><img src="/assets/project/sanguisuga.png" alt="Avatar" style="width:100%"></a>
      <div class="bottomWrapper">
        <a href="/project/kissing_bug"><h5><b>Kissing Bugs in North America</b></h5> </a>
      </div> -->
      <h5><b>Event 1</b></h5> 
    </div>
  

    <div class="card">
      <!-- <a href="/project/flood_model"><img src="/assets/project/flood_model_temporary2.png" alt="Avatar" style="width:100%"></a>
        <div class="bottomWrapper">
          <a href="/project/flood_model"><h5><b>Model Flooding and Storm Surges</b></h5></a>
        </div> -->
        <h5><b>Event 2</b></h5> 
    </div>
</div>

<p class = "blueTitle">Upcoming Events</p>
<div class="flex-container">
  
    <div class="card">
      <!-- <a href="/project/kissing_bug"><img src="/assets/project/sanguisuga.png" alt="Avatar" style="width:100%"></a>
      <div class="bottomWrapper">
        <a href="/project/kissing_bug"><h5><b>Kissing Bugs in North America</b></h5> </a>
      </div> -->
      <h5><b>Event 3</b></h5> 
    </div>
</div>