<style>
    .flexcontainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card {
      display: flex;
      flex-direction: row;
      padding: 0.5rem 1.0rem;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 90%;
      border-radius: 10px;
      margin: 10px 10px 10px;
      text-align: left;
    }

    .card2 {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1.0rem;
      /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
      transition: 0.3s;
      width: 45%;
      /* border-radius: 10px; */
      margin: 10px 10px 10px;
      text-align: left;
    }

    .card3 {
      display: flex;
      flex-direction: column;
      padding: 0.5rem 1.0rem;
      /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
      transition: 0.3s;
      width: auto;
      /* border-radius: 10px; */
      margin: 10px 10px 10px;
      aria-disabled: "true";
    }

    
    .bottomWrapper{
      margin-top: auto;
    }


    
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    

    @media (max-width: 600px) {
    .card2 {
      width: 95%;
      position: relative;
      justify-content: center;
    }
    .card {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            text-align: left;
        }
    }

</style>
    
<div class="flexcontainer">
  
    <div class="card flexcontainer">
      

        <div class="card2">
            <img src="{{ include.link | default: '../assets/team_profile/profile_pic.png' }}" alt="Avatar">
        </div>

        <div class="card2">
            <h4><b>{{ include.name | default: 'Name' }}</b></h4> 
            <p>{{ include.extra | default: '' }}</p>
            <p>{{ include.position| default: 'position' }}</p>
            <p>{{ include.position2| default: '' }}</p>
        </div>
  </div>
    <div class="card3">{{ include.bio | default: '' }}</div>
</div>
    