<style>
span.small {
  font-size: smaller;
}
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left{
  width: 20%;
  margin-left: 10%;
}

.right{
  width: 30%;
  margin-top: 20px;
}

.middle {
  width: 20%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* p.a {
  margin: 20px 20px;
  font-size: 10px;
  line-height: 11px;
} */

p.b {
  margin: 20px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  overflow-wrap: break-word;

}

.b2 {
  /* margin: 10px 60px; */
  margin-left: 12%;
  margin-top: 12%;
  color: #ffffff;
}

.b3 {
  /* margin: 10px 60px; */
  margin-left: 20px;
  color: #ffffff;
}

.b4 {
  /* margin: 10px 60px; */
  margin-left: 12%;
  color: #ffffff;
}


.white-box {
    background-color: white;
    color: black;
    margin: 20px 20px;
}

.vl {
  border-left: 1px solid white;
  height: 200px;
  margin: 20px 10px;
}

@media (max-width: 600px) {
    .left {
      width: 90%;
      position: relative;
      margin-left: 0%;
    }
    .right {
            width: 90%;
            flex-direction: column;
            margin-left: 5%;
        }
    .row{
      flex-direction: column;
    }
    .vl{
      display:none;
    }

    }


</style>

<footer class="footer">
  <div class="row">
    <div class="column left">
      <div class='b2'><img src="/assets/organization_logo/oden-white.svg" height=100px width=230px></div>
    </div>
    <div class="column middle">
      <div ><img src="/assets/organization_logo/knockout_university_primary.png"  height=140px width=310px></div>
    </div>
    <div class="column right">
      <left>
      <p class='b'>&copy; The University of Texas at Austin {{ site.time | date: '%Y' }} | <a class='b' href="https://emergency.utexas.edu">Emergency Information</a> | <a class='b' href="https://www.utexas.edu/site-policies">Site Policies</a> | <a class='b' href="https://it.utexas.edu/policies/web-accessibility">Web Accessibility Policy</a> | <a class='b' href="https://it.utexas.edu/policies/web-privacy">Web Accessibility Policy</a></p>
      <p class='b'>All rights reserved.</p>
      </left>
    </div>
  </div>

  
</footer>

    <!-- {% include nav-footer.html %} -->
