<style>
span.small {
  font-size: smaller;
}
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left{
  width: 20%;
  margin-left: 10%;
}

.right{
  width: 55%;
}

.middle {
  width: 3%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* p.a {
  margin: 20px 20px;
  font-size: 10px;
  line-height: 11px;
} */

p.b {
  margin: 20px 20px;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  overflow-wrap: break-word;

}

.b2 {
  /* margin: 10px 60px; */
  margin-left: 12%;
  color: #ffffff;
}

.b3 {
  /* margin: 10px 60px; */
  margin-left: 20px;
  color: #ffffff;
}

.b4 {
  /* margin: 10px 60px; */
  margin-left: 12%;
  color: #ffffff;
}


.white-box {
    background-color: white;
    color: black;
    margin: 20px 20px;
}

.vl {
  border-left: 1px solid white;
  height: 350px;
  margin: 20px 10px;
}

@media (max-width: 600px) {
    .left {
      width: 90%;
      position: relative;
      margin-left: 0%;
    }
    .right {
            width: 90%;
            flex-direction: column;
            margin-left: 5%;
        }
    .row{
      flex-direction: column;
    }
    .vl{
      display:none;
    }

    }


</style>

<footer class="footer">
  <div class="row">
      <div class="column left">
        <br>
        <div class='b2'><img src="/assets/organization_logo/oden-white.svg" height=100px width=230px></div>
        <div ><img src="/assets/organization_logo/knockout_university_primary.png"  height=140px width=310px></div>
        <div class='b4'><img src="/assets/organization_logo/utrgv-logo.png" height=80px width=190px></div>
        </div>

      <div class="column middle vl">
      </div>
      

      <div class="column right">
        <p class='b'>This work is supported by Wellcome Trust, Planet Texas 2050, Texas Water Development Board (TWDB Contract No. 2201792620) and NSF-PREEVENTS (1855047).</p>
        <div class='b3'>
          <img src="/assets/organization_logo/Wellcome_Trust_logo.png" style="background-color:#ffffff" width=60px height=60px>
          <img src="/assets/organization_logo/planet-texas.jpg" style="background-color:#ffffff"  height=60px width=155px>
          <img src="/assets/organization_logo/NSF_Official_logo_High_Res_1200ppi.png" style="background-color:#ffffff"  height=60px width=60px>
          <img src="/assets/organization_logo/texas-water-development-board-vector-logo.png" style="background-color:#ffffff"  height=60px width=109px>
        </div>
        <p class='b'>Project Manager Dr. Chrysoula Panethymitaki: <a href="mailto:name@email.com">chrysoula@austin.utexas.edu</a></p>
        <p class='b'>&copy; The University of Texas at Austin {{ site.time | date: '%Y' }} | <a class='b' href="https://emergency.utexas.edu">Emergency Information</a> | <a class='b' href="https://www.utexas.edu/site-policies">Site Policies</a> | <a class='b' href="https://it.utexas.edu/policies/web-accessibility">Web Accessibility Policy</a> | <a class='b' href="https://it.utexas.edu/policies/web-privacy">Web Accessibility Policy</a></p>
        <p class='b'>Data Disclaimer: please check with your regional National Weather Service office for the official water level forecast. For official storm surge information associated with tropical cyclones, please consult advisories and warnings issued by the National Hurricane Center. Please don't hesitate to contact us with any inquiry about any aspect of data management or quality. We hope that by making this resource available to diverse users they will help us find and correct errors and generally improve it, and so we welcome all kinds of comments. For infectious disease information, please consult your local public health authorities.</p>
        <p class='b'>All rights reserved.</p>
      </div>
  </div>
  <!-- <div class="row">
    <center>
    <p class='b'>&copy; The University of Texas at Austin {{ site.time | date: '%Y' }} | <a class='b' href="https://emergency.utexas.edu">Emergency Information</a> | <a class='b' href="https://www.utexas.edu/site-policies">Site Policies</a> | <a class='b' href="https://it.utexas.edu/policies/web-accessibility">Web Accessibility Policy</a> | <a class='b' href="https://it.utexas.edu/policies/web-privacy">Web Accessibility Policy</a></p>
    <p class='b'>Data Disclaimer: please check with your regional National Weather Service office for the official water level forecast. For official storm surge information associated with tropical cyclones, please consult advisories and warnings issued by the National Hurricane Center.</p>
    <p class='b'>All rights reserved.</p>
    </center>
  </div> -->
</footer>

    <!-- {% include nav-footer.html %} -->
